.alice-carousel__dots {
    margin: 10px;
}

.alice-carousel__dots-item:not(.__custom) {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color:white;
    border-radius: 20px;
    margin: 5px;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {
    margin-right: 5px;

}

.alice-carousel__dots-item:not(.__custom):hover {
    background-color:#6ca7d4;
}
.alice-carousel__dots-item:not(.__custom).__active {
    background-color:#6ca7d4;

    width: 20px
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    display: none;
}